{{#expect meta, manifest}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta?.title || "Bill Beckelman"}}</title>
    {{#if meta?.description}}
      <meta name="description" content="{{meta.description}}" />
    {{/if}}
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="/{{manifest['css/site.css']}}" />
    <base href="{{meta?.baseUrl || "/"}}">
    {{#if meta?.hasCode}}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/github-dark-dimmed.min.css">
    {{/if}}
    {{#if meta?.hasMap}}
      <script type="module" src="/{{manifest['js/map.js']}}"></script>
    {{/if}}
    {{#if meta?.hasImages}}
      <script type="module" src="/{{manifest['js/gallery.js']}}"></script>
    {{/if}}
  </head>
<body>